@import url("https://fonts.googleapis.com/css?family=Rokkitt");
m {
    color: white;
    padding: 1px 10px 1px 10px;
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    background-color: rgba(94, 66, 166);
}

m:hover {
    color: white;
    opacity: 1 !important;
    transition: background-color 0.3s;
    background-color: rgba(252, 90, 230, 0.50);
}

cite {
    font-size: 20px;
    padding: 1px 5px 1px 5px;
    margin: 40px auto;
    text-align: center;
    max-width: 10%;
    border-left: 4px solid #5e42a6;
}