@import url("https://fonts.googleapis.com/css?family=Rokkitt");
m {
    color: white;
    padding: 1px 10px 1px 10px;
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    background-color: rgba(94, 66, 166);
}

m:hover {
    color: white;
    opacity: 1 !important;
    transition: background-color 0.3s;
    background-color: rgba(252, 90, 230, 0.50);
}

.customBody {
    margin: auto;
    width: 70%;
    color: white;
    text-align: justify;
    background-color: #1e1e1e;
    padding: 30pt 60pt 10pt 60pt;
    letter-spacing: 2.5px;
}

.biblio {
    padding-left: 5em;
    text-indent: -2em;
}