@import url("https://fonts.googleapis.com/css?family=Rokkitt");
m {
    color: white;
    padding: 1px 10px 1px 10px;
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
    background-color: rgba(94, 66, 166);
}

m:hover {
    color: white;
    opacity: 1 !important;
    transition: background-color 0.3s;
    background-color: rgba(252, 90, 230, 0.50);
}

.biblio {
    text-indent: -2em;
    letter-spacing: 2.5px;
    font-size: 15px;
    padding: 10px 0px 10px 5em;
}